/* Codice da aggiungere per la riga 5 al
framework */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[class*="col-"] {   /* tutte le classi che iniziano con col- hanno il codice sotto */
  position: relative;
}

span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col-6 > [class*="col-"] {  /* tutte le classi che iniziano con col- figlie dirette di col-6 */
  background-color: crimson;
  border: 1px solid white;
  text-align: center;
}

div.container:nth-child(5) > div:nth-child(1), div.container:nth-child(5) > div:nth-child(2){
  padding: 10px;
  height: auto;
}
